html {
    scroll-behavior: smooth;
}

#nav {
    margin-bottom: 20px;
}

#mePic{
    max-width: 100%;
    float: left;
}

#profil{
    margin-top: 25px;
    margin-left: -30px;
    

}

#plist {
    list-style-type: none;
}

#meCard{
    margin-bottom: 20px;
}
#about{
    border-style: groove;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 65%;
}
  

#port{
    margin-top: 20px;
}

a {


    text-align: center;
}

#navIcon {
    color: white;
}

#jumbotron{
    margin-top: 20px;
}

#card1, #card2 {
    width: 24em;
    margin: 0 auto;

}

@media screen and (max-width: 768px){

    button{
        z-index: 99;
    }

    #card2{
        margin-top: 30px;
    }

    #target a {
        height: 20px;
        padding-bottom: 20px;
    }


    #cont a{
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
