html {
    scroll-behavior: smooth;
}

#nav {
    margin-bottom: 20px;
}

#me{
    max-width: 100%;
    float: left;
}

#profil{
    margin-top: 25px;
    margin-left: -30px;

}

#plist {
    list-style-type: none;
}

#about{
    border-style: groove;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

#port{
    margin-top: 20px;
}

a {


    text-align: center;
}

#navIcon {
    color: white;
}

#jumbotron{
    margin-top: 20px;
}

@media screen and (max-width: 768px){

    button{
        z-index: 99;
    }

    #cardArb{
        margin-top: 30px;
    }

    #target a {
        height: 20px;
        padding-bottom: 20px;
    }


    #cont a{
        padding-top: 20px;
        padding-bottom: 20px;
    }

}
